{{>partials/header}}

    <form method="GET" action="q">
        <main>
            <h1>MyGoogle</h1>
            <div class="input-search">
                <i class="fi fi-br-search"></i>
                <input type="text" placeholder="Digite sua pesquisa" name="query" id="query"/>
                <input type="hidden" id="date" name="date_search" value=""/>
                <input type="hidden" id="per_page" name="p" value="1"/>
            </div>
        </main>
    </form>



{{>partials/footer}}