{{>partials/header}}
 
    <section>
        <form method="POST">
            <div class="create-data-ckeditor">
                <div class="create-data-ckeditor-title">
                    <span>Titulo da pagina</span>
                    <input type="text" name="title_conteudo" class="form-control" placeholder="Escreva o titulo da pagina">
                </div>

                <div class="create-data-ckeditor-title">
                    <span>Corpo do conteudo</span>
                    <textarea id="editor" name="body_conteudo">

                    </textarea>
                    <button class="btn btn-success btn-sm salve">Salvar <i class="fi fi-br-angle-small-right
"></i></button>
                </div>
            </div>
        </form>
    </section>

<script type="text/javascript" src="/assets/froala-editor/js/plugins/code_beautifier.min.js"></script>
<script  type="text/javascript" src="/assets/froala-editor/js/froala_editor.pkgd.min.js"></script>
<script>
    var editor = new FroalaEditor('#editor', {
        
    }
            );
</script>

{{>partials/footer}}