{{>partials/header}}


    <section style="border: none; padding: 15px;">
    <a href="javascript:history.back()" style="text-decoration: none;"><i class="fi fi-br-angle-small-left"></i>Voltar</a>
    {{#data}}
        <div class="authors">
            <span>Rafael Guilber - Quarta-feira, 16 de Agosto de 2022</span>
            <img src="/assets/perfil_yt.jpeg" />
        </div>

        <div class="title_page">
            <h3>{{title}}</h3>
        </div>

        <div class="view">
            {{description}}
        </div>

    {{/data}}
    </section>
<script>
    const description = document.querySelector('.view').textContent;
    document.querySelector('.view').innerHTML = description;
</script>

{{>partials/footer}}