   <footer>
        Desenvolvido com  <i class="fi fi-br-heart"></i>  por <a href="https://github.com/codifybrazil"> Codifybrazil</a>
    </footer>
    <script src="assets/script.js"></script>
</body>
</html>