<!DOCTYPE html>
<html lang="pt-BR"></html>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MyGoogle</title>
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="/assets/css/icons/bootstrap-icons/bootstrap-icons.css">
        <link rel="stylesheet" href="/assets/css/icons/faticon/css/uicons-bold-rounded.css">
        <link href="/assets/css/bootstrap.css" rel="stylesheet" >
        <!--<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,400;8..144,500&family=Roboto:wght@300&family=Varela+Round&display=swap" rel="stylesheet">-->
        <link  href="/assets/froala-editor/css/froala_style.min.css"  rel="stylesheet"  type="text/css"/> 
        <link  href="/assets/froala-editor/css/froala_editor.pkgd.min.css"  rel="stylesheet"  type="text/css"/> 

    </head>

<body class="dark-mode">

    <nav>
        <img src="/assets/svg.svg" class="logo" style="cursor: pointer;" >
        <div class="dark-mode-button">
            <button class="dark-btn-night"><i class="fi fi-br-moon-stars"></i></button>
            <button class="dark-btn-light"><i class="fi fi-br-flame"></i></button>
        </div>
        <button class=""><i class="fi fi-br-grid"></i></button> 
        <a href="#"><img src="/assets/perfil_yt.jpeg" alt=""></a>
    </nav>
